<div class="container bg-white rounded">
  <aside>
    <section class="task">
      <div class="task-header d-flex justify-content-between">
        <h3> <%= t('.title') %> </h3>
        <%= link_to new_task_path, class: 'btn btn-primary' do %>
          <%= t('.button.add') %>
        <% end %>
      </div>
      
      <% if params[:search_text].present? || params[:search_date].present? %>
        <% if @tasks.any? %>
          <ul>
            <%= render 'tasks/task' %>
          </ul>
        <% else %>
          <div class="d-flex justify-content-center">
            <p><%= t('.noData') %></p>
          </div>
        <% end %>
      <% else %>
        <ul>
          <%= render 'tasks/task' %>
        </ul>
      <% end %>
    </section>
  </aside>
</div>
