<div class="container bg-white rounded">
  <aside>
    <section class="task">
      <div class="task-header d-flex justify-content-between">
        <h3> <%= t('.title') %> </h3>
        <%= link_to new_task_path, class: 'btn btn-primary' do %>
          <%= t('.button.add') %>
        <% end %>
      </div>

      <ul>
        <% @tasks.each do |task| %>
          <div id="task-<%= task.id %>" class="task-item">
            <div class="row">
              <div class="col-4">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="task-<%= task.id %>-checkbox" <%= task.status == 1 ? 'checked' : '' %>>
                  <label class="form-check-label text-dark" for="task-<%= task.id %>-checkbox">
                    <% if task.status == 1 %>
                      <del><%= task.title %></del>
                    <% else %>
                      <%= task.title %>
                    <% end %>
                  </label>
                </div>
                <p><%= task.description %></p>
              </div>
              <div class="col-6">
                <p><strong>Time:</strong> <%= display_task_time(task) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </section>
  </aside>
</div>
