<div class="container bg-white rounded p-4">
  <h3><%= t('.title')%></h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
    <%= render 'layouts/shared/error_message', object: form.object %>
  <div class="form-group">
    <%= form.label :title, t('.label.title'), class: "text-dark" %>
    <%= form.text_field :title, placeholder: t('.placeholder.title'), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, t('.label.description'), class: "text-dark" %>
    <%= form.text_area :description, placeholder: t('.placeholder.description'), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status, t('.label.status'), class: "text-dark" %>
    <%= form.number_field :status %>
  </div>

  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <%= form.label :time_start, t('.label.start'), class: "text-dark" %>
      <%= form.datetime_select :time_start, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-6 col-sm-12">
      <%= form.label :time_end, t('.label.end'), class: "text-dark" %>
      <%= form.datetime_select :time_end, class: "form-control" %>
    </div>
  </div>

  <%= form.submit t('.submit'), class: "btn btn-primary" %>
<% end %>

</div>
