<div class="container bg-white rounded p-5 d-flex flex-column align-items-center">
  <%= render "users/shared/logo_branch" %>
  <h2 class="font-weight-bold">Log in</h2>

  <div class="w-50">
    <%= form_for(resource, as: resource_name, class: 'w-50', url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "text-dark" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded p-2 border w-100" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "text-dark" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "rounded p-2 border w-100" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="d-flex justify-content-between align-items-center">
          <div class="form-group ">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "text-dark mb-0" %>
          </div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
</div>

  <%= render "users/shared/links" %>
</div>
