<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <%= render 'layouts/rails_default' %>
    
  </head>

  <body>
    <div class="wrapper ">
      <%= render 'layouts/shared/side_bar' %>
      <div class="main-panel">
        <!-- Navbar -->
        <%= render 'layouts/shared/top_nav_bar' %>
        <!-- End Navbar -->
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
